@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

/* default syling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Press Start 2p", sans-serif;
  color: #eee;
  background-color: #222;
  font-size: 10px;
}

/*******************************************************/
/* Top */
header {
  height: 35vh;
  border-bottom: 7px solid #eee;
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  padding: 2rem;
}
button {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}
button:hover {
  background-color: #ccc;
}
.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
h1 {
  text-align: center;
  font-size: 4rem;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.values {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
}
.question {
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  transform: translate(-50%, 50%);
}

/*******************************************************/
/* Bottom */
main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

/* removing up/down arrows in input number field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.right {
  font-size: 2.5rem;
}
.message {
  margin-bottom: 8rem;
  height: 3rem;
}
.score {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .again {
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    padding: 1rem;
  }
  .values {
    top: 2rem;
    right: 1rem;
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
  .question {
    font-size: 3rem;
    width: 8rem;
    padding: 1.5rem 0rem;
  }

  /* bottom */
  main {
    flex-direction: column-reverse;
  }
  .right {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
  input {
    font-size: 2rem;
  }
}
